<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<head>
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
</head>
<div class="container" style=" position:relative;
text-align:center;
padding: 5%;">
<img src="http://127.0.0.1:8000/certificate" alt="certification" border="0" class="certificate" style="height: 512px;">  
<div class="centered" style="position: absolute;
width:400px;
top: 36%;
left: 35%;">
<span style="font-weight:bold">Certificate of Completion</span></br></br>
<span><i>This is to certify that</i></span>
</br></br>
<span style="font-weight:bold">{{profile.name}}</span></br></br>
<span><i>has completed the course</i></span></br></br>
<span style="font-weight:bold">{{orders1.course.languge.name}}</span>

<p id="cdate" style="font-weight:bold">Date: {{orders1.created_at}}</p>
</div>
</div>  
</html>


    
</body>
</html>