{% extends "webapp/base.html" %}

{% block home %}
<style>
.ts-service-icon.icon-round i {
    font-size: 24px;
    color: #fff;
    background: #3B71CA;
    text-align: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    position: relative;
    float: none;
}

</style>


 <!--Breadcrumb Area-->
 <section class="breadcrumb-area banner-1" data-background="images/banner/9.jpg">
    <div class="text-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 v-center">
            <div class="bread-inner">
              <div class="bread-menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
              <div class="bread-title">
                <h2>About Geek Code</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Breadcrumb Area-->


   <!--Start About-->
   <section class="about-agency pad-tb block-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 v-center">
          <div class="about-image">
            <img src="images/about/company-about.png" alt="about us" class="img-fluid"/>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="common-heading text-l ">
           
            <h2>About Us</h2>
            <p class="text-justify">At the heart of GeekCode is an unbridled passion for coding. We believe in the beauty of algorithms, the elegance of well-written code, and the joy of problem-solving. </p>
            <p class="text-justify">We thrive on staying ahead of the curve when it comes to technological advancements. From the latest programming languages to groundbreaking innovations, we're always at the forefront.</p>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <!--End About-->



{% endblock %}