<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EMRG2SBB40"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-EMRG2SBB40');
  </script>

  <meta charset="utf-8" />
  <title>Geek Code</title>
  <meta name="description"
    content="Comprehensive IT solutions provider offering eCommerce solutions, custom application development, ChatGPT Integrations, SASS ">
  <meta name="keywords"
    content="LMS, OCR, AI, ChatGPT, Chatbot,IT services, technology solutions, ESG(BRSR), Website, Cloud, DevOps, Database Migrations ">
  <meta name="author" content="Triage-Solutions">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#c7ecff">
  <!--website-favicon-->
  <link href="{% static  'img/carousel/geek-code.svg' %}" rel="icon">
  <!--plugin-css-->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/plugin.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- template-style-->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/responsive.css" rel="stylesheet">
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<style>





</style>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">




<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCWR3D5" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->



  <!--Start Preloader -->
  <div class="onloadpage" id="page_loader">
    <div class="pre-content">
      <div class="logo-pre"><img src="{% static  'img/carousel/geek-code.svg' %}" loading="lazy" alt="Logo" width="100%"
          height="auto"></div>
      <div class="pre-text- text-radius text-light text-animation bg-b">Geek Code </div>
    </div>
  </div>
  <!--End Preloader -->
  <!--Start Header -->
  <header class="nav-bg-w main-header navfix fixed-top menu-white">
    <div class="container-fluid m-pad">
      <div class="menu-header">
        <div class="dsk-logo"><a class="nav-brand" href="{% url 'home' %}">
            <img src="{% static  'img/carousel/geek-code.svg' %}" alt="Logo" class="mega-white-logo" />
            <img src="{% static  'img/carousel/geek-code.svg' %}" alt="Logo" class="mega-darks-logo" />
          </a>

        </div>
        <input type="text" placeholder="Serach for anything" id="searchinput" class="form-control searchinput tags" id="tags"> <button type="submit"
          class="icon" id="icon" ><i class="fa fa-search" style="font-size: 16px;"></i></button>
          

          <nav class="dropdown-menu1">

            <ul>
                <li class="master-category">
                    <a href="#">Categories </a>
                    <ul class="category">
                      {% for categorys in category %}
                       
                        <li class="subcategory">
                            <a href="{% url 'devlopment' categorys.slug %}">{{categorys.name}}</a>
                            {% if categorys.subcategory_set.all %}
                            <ul>
                              {% for subcategorys in categorys.subcategory_set.all %}
                            
                             
                                <li class="course">
                                    <a href="{% url 'webdevlopment' subcategorys.slug %}">{{ subcategorys.name }}</a>
                                    {% if subcategorys.language_set.all %}
                                    <ul>
                                      {% for course in subcategorys.language_set.all %}

                                        <li><a href="{% url 'language' course.name %}">{{course.name}}</a></li>
                                      
                                      {% endfor %}
                                    </ul>
                                    {% endif %}
                                   
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- Repeat the structure for more master categories -->
            </ul>
           
        </nav>
          
          <div class="custom-nav" role="navigation">
          <ul class="nav-list">




            {% if cart  %}
              
            
            <li class="submenu cart ">
              <a href="{% url 'cart1' %}" class="btn-round- btn-br bg-primary"> <i class='fas fa-shopping-cart ' style="cursor: pointer;"></i><span class="addtocart">{{cart}}</span>
              </a>
                <p>Your cart is {{cart}} <br> <small style="color: #5624d0; padding-top: 15px; font-size: 16px; font-weight: bold;"><a href="" style="color: #5624d0;">keep shoping</a></small></p>
                <!-- <small>Your cart is empty</small> -->
                <!-- <p style="color: #5624d0; margin-top: 10px;"><a href="">keep shoping</a></p> -->
              
            </li>

            {% else  %}
            <li class="submenu cart ">
              <a href="#" class="btn-round- btn-br bg-primary" style="margin: 30px;"> <i class='fas fa-shopping-cart ' style="cursor: pointer;"></i><span class="addtocart">0</span>
              </a>
                <p>Your cart is empty <br> <small style="color: #5624d0; padding-top: 15px; font-size: 16px; font-weight: bold;"><a href="" style="color: #5624d0;">keep shoping</a></small></p>
                <!-- <small>Your cart is empty</small> -->
                <!-- <p style="color: #5624d0; margin-top: 10px;"><a href="">keep shoping</a></p> -->
              
            </li>
            {% endif %}

            
            {% if request.user.is_authenticated %}
            <ul class="nav-list">
              {% if profile.image %}
              <a href="{% url 'userprofile' %}"><img src="{{profile.image.url}}" class="profile-img" alt="" srcset="" width="40%"><br><strong style="text-transform: capitalize; color: #000; font-size: 14px;">{{request.user.first_name}} </strong></a>
              {%else%}
             <a href="{% url 'userprofile' %}"><img src="/static/img/carousel/noprofile.png" class="profile-img" alt="" srcset="" width="40%"><br><strong style="text-transform: capitalize; color: #000;font-size: 14px;">{{request.user.first_name}} </strong></a>
    
             {% endif %}
         
             </ul>
           

            {% else %}
            <li class="sbmenu">
              <a href="{% url 'login' %}" class="menu-links">Login</a>
              <div class="nx-dropdown">

              </div>
            </li>
            <li class="sbmenu">
              <a href="{% url 'signup' %}" class="menu-links">Sign Up</a>
              <div class="nx-dropdown">

              </div>
            </li>
            {% endif %}
          </ul>
         
          <!-- mobile + desktop - sidebar menu- dark mode witch and button -->
          <ul class="nav-list right-end-btn">





       

            <li class="navm- hidedesktop"> <a class="toggle" href="#"><span></span></a></li>
          </ul>
        </div>
      </div>

      <!--Mobile Menu-->
      <nav id="main-nav">

        <ul class="first-nav">
          <li> <a href="{% url 'home' %}" class="mobile-logos"> <img src="/static/img/carousel/geek-code.svg" alt="Logo"
                class="mobile-logo" /></a></li>
          <li>
            <a href="#">Login</a>

          </li>
          <li>
            <a href="">Signup</a>

         


        </ul>
        <ul class="bottom-nav">
        
          <li class="prb">
            <a href="mailto:arun@triagetechnology.in">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                <path d="M0 0h24v24H0z" fill="none" />
              </svg>
            </a>
          </li>
          <li class="prb">
            <a href="skype:niwax.company?call">
              <svg enable-background="new 0 0 24 24" height="18" viewBox="0 0 24 24" width="18"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m23.309 14.547c1.738-7.81-5.104-14.905-13.139-13.543-4.362-2.707-10.17.352-10.17 5.542 0 1.207.333 2.337.912 3.311-1.615 7.828 5.283 14.821 13.311 13.366 5.675 3.001 11.946-2.984 9.086-8.676zm-7.638 4.71c-2.108.867-5.577.872-7.676-.227-2.993-1.596-3.525-5.189-.943-5.189 1.946 0 1.33 2.269 3.295 3.194.902.417 2.841.46 3.968-.3 1.113-.745 1.011-1.917.406-2.477-1.603-1.48-6.19-.892-8.287-3.483-.911-1.124-1.083-3.107.037-4.545 1.952-2.512 7.68-2.665 10.143-.768 2.274 1.76 1.66 4.096-.175 4.096-2.207 0-1.047-2.888-4.61-2.888-2.583 0-3.599 1.837-1.78 2.731 2.466 1.225 8.75.816 8.75 5.603-.005 1.992-1.226 3.477-3.128 4.253z" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

   
  </header>

  


  <!--End Header -->


  {% block home %}

  {% endblock %}



  <!--Start Footer-->
  <footer class="mt-3">

    <div class="footer-row2 ">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-3 col-sm-6  ftr-brand-pp">
            
              
              
              <ul class="footer-address-list ftr-details">
                <li>
                  
                <a href="">Geek Code Business</a>
                  
                </li>
                <li>
                  
                  <a href="">Teach On Geek Code</a>
                  
                </li>
                <li>
                  <a href="">About Us</a>
                 
                </li>
                <li>
                 <a href="">Contact Us</a>
                  
                </li>
                <li><a class="footer-logo"><img
                  src="{% static  'img/carousel/geek-code.svg' %}" alt="Logo" /></a></li>
              </ul>

            

          </div>

          <div class="col-lg-3 col-sm-6">
            <ul class="footer-address-list ftr-details">
              <li>
                
              <a href="">Careers</a>
                
              </li>
              <li>
                
                <a href="">Blog</a>
                
              </li>
              <li>
                <a href="">Help and Support</a>
               
              </li>
              <li>
               <a href="">Affiliate</a>
                
              </li>
             
            </ul>
          </div>
          <div class="col-lg-2 col-sm-6">
            <ul class="footer-address-list ftr-details">
              <li>
                
              <a href="">Terms</a>
                
              </li>
              <li>
                
                <a href="">Privacy Policy</a>
                
              </li>
              <li>
                <a href="">Cookie Settings </a>
               
              </li>
              <li>
               <a href="">Sitemap</a>
                
              </li>
              
            </ul>
          </div>
          <p style="color:#fff; text-align: center;">© 2020-2023. All Rights Reserved By Geek Code</p>
        </div>
      </div>
    </div>

   
  </footer>
  <!--End Footer-->
  <!-- js placed at the end of the document so the pages load faster -->

  <script src="/static/js/jquery.min.js"></script>
  <script defer src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/plugin.min.js"></script>
  <script src="/static/js/preloader.js"></script>

  <!--common script file-->
  <script defer src="/static/js/main.js"></script>

  <script>
    
  //button click
      var inputElement = document.getElementById("icon");
    inputElement.addEventListener("click", function (e) {
     //alert('okk')

        var development= $('.searchinput').val()
        var baseURL = window.location.origin;

        // alert(city)
        //alert(allmenus)
        if (development != "")
        {
          var newURL = baseURL + "/serach/" + development;
          location.href = newURL;
        }
        else{
          var newURL = baseURL + "/page";
          location.href = newURL;
        }
     


      });
  // enter press
  var input = document.getElementById("searchinput");
input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    var development= $('.searchinput').val()
        var baseURL = window.location.origin;

        // alert(city)
        //alert(allmenus)
        if (development != "")
        {
          var newURL = baseURL + "/serach/" + development;
          location.href = newURL;
        }
        else{
          var newURL = baseURL + "/page";
          location.href = newURL;
        }
        
    

  }
});

    

  </script>

  <script>
    //Owl-Carousel - client logo
    var owl = $('.niwax-client-slider');
    owl.owlCarousel({
      loop: true,
      center: false,
      autoplay: true,
      margin: 20,
      nav: false,
      dots: false,
      autoplayTimeout: 3500,
      autoplayHoverPause: true,
      smartSpeed: 2000,
      responsive: {
        0: {
          items: 3,
        },
        520: {
          items: 3
        },
        768: {
          items: 4
        },
        1200: {
          items: 4
        },
        1400: {
          items: 5
        },
        1600: {
          items: 6
        },
      }
    });
    //Owl-Carousel - awards card
    var owl = $('.niwax-logo-slider');
    owl.owlCarousel({
      loop: true,
      center: false,
      autoplay: true,
      margin: 20,
      nav: false,
      dots: false,
      autoplayTimeout: 3500,
      autoplayHoverPause: true,
      smartSpeed: 2000,
      responsive: {
        0: {
          items: 3,
        },
        520: {
          items: 3
        },
        768: {
          items: 4
        },
        1200: {
          items: 4
        },
        1400: {
          items: 5
        },
        1600: {
          items: 6
        },
      }
    });

    //Owl-Carousel - awards card
    var owl = $('.niwax-review-slider');
    owl.owlCarousel({
      items: 3,
      loop: true,
      center: false,
      autoplay: true,
      margin: 20,
      nav: false,
      dots: true,
      autoplayTimeout: 3500,
      autoplayHoverPause: true,
      smartSpeed: 2000,
      responsive: {
        0: {
          items: 1,
        },
        520: {
          items: 1
        },
        768: {
          items: 2
        },
        1200: {
          items: 2
        },
        1400: {
          items: 3
        },
        1600: {
          items: 3
        },
      }
    });
  </script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
  
 
    var availableTags = [ ];
    $.ajax({
      method: "GET",
        url: "{% url 'course_list' %}",
        data: {
          
        },
        datatype: "dataType",
        success: function (response) {
         
          autocomplets(response)
        }
    })
    function autocomplets(availableTags)
    {
      $( ".tags" ).autocomplete({
      source: availableTags,
      select: function (event, ui) {
        var selectedTag = ui.item.value;
        $('#searchinput').val(selectedTag)
        $('#icon').click();
           
        }


    });

    }
   
 
  </script>
</body>


</html>