{% extends "webapp/base.html" %}

{% block home %}
<style>
.ts-service-icon.icon-round i {
    font-size: 24px;
    color: #fff;
    background: #3B71CA;
    text-align: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    position: relative;
    float: none;
}

</style>



<!--Breadcrumb Area-->
<section class="pay mt30" style="margin-top: 80px;">
    <!--Breadcrumb Area-->
    <section class="mycourse">
      <div class="text-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 v-center">
              <div class="">
                <div class="">
  
                </div>
                <div class=" ">
                  <h2 class="text-light pt-5 p-5">Careers</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  <section>
  <!--End Breadcrumb Area-->
<div class="container">
    <div class=" mt-4 d-lg-flex d-md-flex justify-content-center">
        <div>
            <div class="card " style="width: 18rem;">
                <div class="text-center mt-5"><span class="ts-service-icon icon-round">
                    <i class="fa fa-phone-square mr-0"></i>
                  </span>
               </div>
                
                <div class="card-body">
                  <h5 class="card-title text-center">CALL US</h5>
                  <p class="card-text text-center "><a href="tel:+21622354833">+21622354833</a></p>
                  
                </div>
              </div>
        </div>
        &nbsp; &nbsp;
        <div class="ml-5">
            <div class="card " style="width: 18rem;">
                <div class="text-center mt-5"><span class="ts-service-icon icon-round">
                    <i class="fa fa-envelope mr-0"></i>
                  </span>
               </div>
                
                <div class="card-body">
                  <h5 class="card-title text-center">EMAIL US</h5>
                  <p class="card-text text-center"><a href="mailto:support@geekcode.co.in">support@geekcode.co.in</a></p>
                  
                </div>
              </div>
        </div>
    </div>
    
</div>


{% endblock %}