{% extends "webapp/base.html" %}

{% block home %}
<style>


</style>
<section class="pay mt30" style="margin-top: 80px;">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-3">
                <ul>
                    <li><a href=""><img src="/static/img/carousel" alt=""></a></li>
                    <li><a href="">Email Verifaction</a></li>
        
                    <li class="mt-2"><a href="">Change Email</a></li>
                   </ul>
            </div>
           
           <div class="col-lg-7">
            {% for message in messages %}
        <div class="alert alert-success mt-2" role="alert">
         {{message}}
       </div>
       {% endfor %}
            <div class="form-block fdgn2 mt10 mb10">
                <form action="{% url 'changeemail' %}" method="post" name="feedback-form">
                    {% csrf_token %}
                  <div class="fieldsets row">
                    <div class="col-md-12"><input type="email" id="email" value="" placeholder="Email"
                        name="email"></div>
                  
                
                  <div class="fieldsets mt20 pb20">
                    <button type="submit" name="submit"  class="lnk btn-main bg-btn" >Change Email <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                  </div>
               
                </form>
              </div>
           </div>
        </div>
    </div>
</section>


    

  
 
{% endblock %}