{% extends "webapp/base.html" %}

{% block home %}



<section class="breadcrumb-area ">
    <div class="text-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 v-center">
            <div class="bread-inner">
              <div class="bread-menu wow fadeInUp" data-wow-delay=".2s">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Teach On GeekCode</a></li>
                </ul>
              </div>
              <div class="bread-title wow fadeInUp" data-wow-delay=".5s">
                <h2> Teach On.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Breadcrumb Area-->
  
  <!--Start Contact Form-->
  <section class="contact-page pad-tb bg-gradient5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="niwax23form shadow">
            <div class="common-heading text-l">
              <h2 class="mt0 mb0">Get in touch</h2>
              <p class="mb50 mt10">We will catch you as early as we receive the message</p>
            </div>
            <div class="contact-form-card-pr contact-block-sw m0 iconin">
              <div class="form-block niwaxform">
               {% if message != None %}
               <div class="alert alert-success" role="alert">
                {{message}}
              </div>
               {% endif %}
               
              
               <form action="{% url 'teach' %}"  method="post">
                {% csrf_token %}
                <div class="fieldsets row">
                  <div class="col-md-6 form-group floating-label">
                    <div class="formicon"><i class="fas fa-user"></i></div>
                    <!-- <input type="text" placeholder=" " required="required" id="name" class="floating-input" name="fullname"> -->
                    {{form.name}}
                    
                    <!-- <label>Name*</label> -->
                    <div class="error-label"></div>
                  </div>
                  <div class="col-md-6 form-group floating-label">
                    <div class="formicon"><i class="fas fa-phone-alt"></i></div>
                    <!-- <input type="email" placeholder=" " required="required" id="email" class="floating-input" name="email">
                    <label>Email*</label> -->
                    {{form.email}}
                    <div class="error-label"></div>
                  </div>
                </div>
                <div class="fieldsets row">
                  <div class="col-md-6 form-group floating-label">
                    <div class="formicon"><i class="fas fa-certificate"></i></div>
                    <!-- <input type="text" placeholder=" " required="required" id="email" class="floating-input" name="certification">
                    <label>Certification*</label> -->
                    {{form.certification}}
                    <div class="error-label"></div>
                  </div>
                  <div class="col-md-6 form-group floating-label">
                    <div class="formicon"><i class="fas fa-book-open"></i></div>
                    <!-- <input type="text" placeholder=" " required="required" id="your_location" class="floating-input" name="qualification">
                    <label> Qualification*</label> -->
                    {{form.qualification}}
                    <div class="error-label"></div>
                  </div>
                </div>
                <div class="fieldsets row">
                 
                
                </div>
                <div class="fieldsets row textareax">
                  <div class="col-md-12 form-group floating-label">
                    <div class="formicon"><i class="fas fa-comment-dots"></i></div>
                    <!-- <textarea placeholder=" " required="required" id="description" class="floating-input" name="description"></textarea>
                    <label>Messages*</label> -->
                    {{form.message}}
                    <div class="error-label"></div>
                  </div>
                </div>
                <div class="fieldsets row textareax">
                  <div class="col-md-12 form-group floating-label">
                    <div class="formicon"></div>
                    <!-- <textarea placeholder=" " required="required" id="description" class="floating-input" name="description"></textarea>
                    <label>Messages*</label> -->
                    {{form.captcha}}
                    <div class="error-label"></div>
                  </div>
                </div>
                <div class="fieldsets mt20"> <button type="submit" name="submit" class="btn btn-main bg-btn w-fit mb20"><span>Submit <i class="fas fa-chevron-right fa-icon"></i></span> <span class="loader"></span></button> </div>
              </form>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  <!--End Contact Form-->
{% endblock %}