{% extends "webapp/base.html" %}

{% block home %}
<div class="container mt-5 ">
    <div class="row ">
        <div class="col-lg-12 mt-5">
         {% if sub1.subcategory.category.name %}
         <h1 class="">{{sub1.subcategory.category.name}} Courses </h1>

          {%else%}
          <h1 class="">{{sub1.category.name}} Courses </h1>
         {% endif %}
         
         <p class="mt-4">Courses to get you started</p>
        </div>
    </div>

    
</div>



<section class="card-slider mt-5">
    <div class="container">
        <div class="row mt-5">
                 {% for i in course  %}
                   
                
                <div class="col-lg-3 mt-3">
                    <a href="{% url 'coursedetailes'  i.slug  %}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size: 18px;">{{i.title|truncatewords:5}}</h5>
                          <p class="card-text">{{i.author}}</p>
                         
                          
                           <div class="d-flex justify-content-between mt-2">
                            <p ><span class="badge bg-primary pb-2 pt-2 pl-2 pr-2">{{i.rating}}  <i class="fa-solid fa-star" style="font-size: 11px; color: #fff;"></i></span>   <span>
                           
                            </span>
                            
                            </i></span></p>
                            <p><span><b>₹</b> {{i.price}} </span></p>

                           </div>
                         
                        </div>
                      </div>
                      </a>
                </div>

                {% endfor %}
               
            
        </div>
    </div>
    

</section>



{% endblock %}