{% extends "webapp/base.html" %}

{% block home %}

<style>
  .category .card {
    cursor: pointer;
  }
  .filters .filter-menu li.is-checked {
    background:#2d2f31 ;
    color: #fff;
}

.reviews-card {
  
    
    background: #fff;
    border: 1px solid #d1d7dc;
    height: 100%;
    
}
.review-border{
  border-top: 1px solid #d1d7dc;
  padding-top: 2.4rem;
  
}
.review-border a{
  color: #5624d0;
  font-weight: bold;
  margin-right: 4px;
}
.review-border .fa-play {
    background: #5624d0;
    padding: 11px;
    
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
}

.carousel {
   
    margin-top: 68px;
}
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/carousel/udemy.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/carousel/udemy1.jpeg" class="d-block w-100" alt="...">
    </div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- categories -->
<section class="category mt-5" id="abc">
  <div class="container">
    <h4>Top categories</h4>
    <div class="row">
      
       {% for i in category %}
         
       
      <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12 mt-4">
        <a href="{% url 'course' i.slug %}">
        <div class="card isotope_item hover-scale">
          <img src="{{i.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title ">{{i.name}}</h5>

          </div>
        </div>
      </a>
      </div>
      {% endfor %}
      
    </div>
   
  </div>
</section>

<!-- endcategories -->
<!-- endcategories -->




<!--start card-->



 <!--Start reveiws-->
 <section class=" pad-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="common-heading ptag">

          <h5 class="mb30">How learners like you are achieving their goals</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt30">
        <div class="niwax-review-slider owl-carousel center-dots">
          <div class="reviews-card pr-shadow">
            <div class="row v-center">
              <div class="col"> <span class="revbx-lr"><i class="fas fa-quote-left"></i></span> </div>
            
            </div>
            <div class="review-text">
              <p>I am proud to say that after a few months of taking this course...I passed my exam and am now an AWS Certified ..</p>
            
            
            </div>
            <div class="review-border">
             <span><a href=""><i class="fas fa-play"></i>[NEW] Ultimate AWS Certified Cloud Parrtitnor-2023</a> </span>
            </div>
         
          </div>
          <div class="reviews-card pr-shadow">
            <div class="row v-center">
              <div class="col"> <span class="revbx-lr"><i class="fas fa-quote-left"></i></span> </div>
            
            </div>
            <div class="review-text">
              <p>This course helped me freshen up on my product manager skills and land a job at Facebook! Thanks guys :)</p>
            </div>
            <div class="review-border">
              <span><a href=""><i class="fas fa-play"></i>[NEW] Ultimate AWS Certified Cloud Parrtitnor-2023</a> </span>
             </div>
           
          </div>
          <div class="reviews-card pr-shadow">
            <div class="row v-center">
              <div class="col"> <span class="revbx-lr"><i class="fas fa-quote-left"></i></span> </div>
            
            </div>
            <div class="review-text">
              <p>I am proud to say that after a few months of taking this course...I passed my exam and am now an AWS Certified ..</p>
            </div>
            <div class="review-border">
              <span><a href=""><i class="fas fa-play"></i>[NEW] Ultimate AWS Certified Cloud Parrtitnor-2023</a> </span>
             </div>
         
          </div>
          <div class="reviews-card pr-shadow">
            <div class="row v-center">
              <div class="col"> <span class="revbx-lr"><i class="fas fa-quote-left"></i></span> </div>
            
            </div>
            <div class="review-text">
              <p>This course helped me freshen up on my product manager skills and land a job at Facebook! Thanks guys :)</p>
            </div>
            <div class="review-border">
              <span><a href=""><i class="fas fa-play"></i>[NEW] Ultimate AWS Certified Cloud Parrtitnor-2023</a> </span>
             </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</section>
<!--End reviews-->






<script>

var owl = $('.niwax-review-slider');
    owl.owlCarousel({
      items: 3,
      loop: true,
      center: false,
      autoplay: true,
      margin: 20,
      nav: false,
      dots: true,
      autoplayTimeout: 3500,
      autoplayHoverPause: true,
      smartSpeed: 2000,
      responsive: {
        0: {
          items: 1,
        },
        520: {
          items: 1
        },
        768: {
          items: 2
        },
        1200: {
          items: 2
        },
        1400: {
          items: 3
        },
        1600: {
          items: 3
        },
      }
    });
</script>
{% endblock %}