{% extends "webapp/base.html" %}

{% block home %}
<style>

.pay .payment {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 36px 60px;
}
.payments{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 36px 60px;
}

.payment {
    list-style: none;
    padding: 0;
    padding: 36px;
    background-image: repeating-linear-gradient(to right,#4a8f9f 0,#4a8f9f 50%,transparent 50%,transparent 100%),repeating-linear-gradient(to right,#4a8f9f 0,#4a8f9f 50%,transparent 50%,transparent 100%),repeating-linear-gradient(to bottom,#4a8f9f 0,#4a8f9f 50%,transparent 50%,transparent 100%),repeating-linear-gradient(to bottom,#4a8f9f 0,#4a8f9f 50%,transparent 50%,transparent 100%);
    background-position: left top,left bottom,left top,right top;
    background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
    background-size: 16px 1px,16px 1px,1px 16px,1px 16px;
    border-radius: 4px;
    margin-bottom: 60px;
}


.payment strong{
    font-weight: 500;
    display: block;
    color: #2f2d51;
    margin-top: 10px;
}
.order-details {
    padding: 54px 60px;
}
.order-details .order-details__title {
    font-size: 1.375rem;
    margin-bottom: 20px;
}

.table>:not(caption)>*>* {
    padding: 1.5rem 9.5rem !important;
    background-color: var(--bs-table-bg);
    border-bottom-width: 0px !important;
    box-shadow: 0 !important;
}
.tables1 {
    padding: 30px;
    border: 1px solid #e7e7ec;
    border-radius: .25rem;
    box-shadow: 0 .5rem .937rem rgba(140,152,164,.1);
    margin-bottom: 30px;
   
    
}
table {
    
    border-collapse:initial !important;
}
.tables th {
    padding: 10px 51px;
    font-size: 15px;
}

.tables td {
    padding: 10px 43px;
    
}
</style>
<section class="pay mt30" style="margin-top: 80px;">
    <div class="container ">
        <div class="row ">
            <h1 class="text-center">Order recived</h1>
            <p class="mt-2 text-center">Thank you. Your order has been received.</p>
            <div class="col-lg-12">
              <ul class="payment mt-5">
                <!-- {% for x in allorders %}
                  
              
                <li>Order number:<strong>{{x.order_id}}</strong> </li>
                <li>Date:<strong>{{x.created_at}}</strong></li>
                <li>Total:<strong>₹{{x.total_price}}</strong></li>
                <li>Course:<strong>{{x.course.name}}</strong></li>
                {% endfor %} -->
                <table class="tables ">
                    <thead>
                        <tr>
                            <th>Order number</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for x in allorders %}
                          
                      
                        <tr>
                            <td>{{x.order_id}}</td>
                            <td>{{x.created_at}}</td>
                            <td>₹{{x.total_price}}</td>
                            <td>{{x.course.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </ul>
            
              
             
            </div>
        </div>
    </div>
</section>

<section class="mt30 order-details">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="order-details__title">Order details</h1>

            <table class="tables tables1">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Order number</th>
                    <th scope="col">Course</th>
                    <th>Date</th>
                    
                   
                    <th scope="col">Total</th>

                    
                  </tr>
                </thead>
                <tbody>
                {% for x in allorders  %}
                  
             
                <tr>
                    <td>{{profile.name}}</td>
                    <td>{{profile.phone}}</td>
                    <td>{{x.order_id}}</td>
                    
                    <td>{{x.course.name}}</td>
                    <td>{{x.created_at}}</td>
                    <td>{{x.course.price}}</td>
                </tr> 
                {% endfor %} 
              
                <!-- <tr>
                    <td>Hoodie × 2</td>
              
                    <td>59.00</td>
                </tr>   -->

                <tr>
                    <td>SubTotal:  <small style="font-size: 8px;font-weight: bold;">(Inculde 18% GST )</small></td>
              
                    <td>₹ {{amount}} </td>
                </tr>  

                <tr>
                    <td>Total: <small style="font-size: 8px;font-weight: bold;">(Inculde 18% GST )</small></td>
              
                    <td>₹ {{amount}}</td>
                </tr>  
                </tbody>
              </table>
        </div>
    </div>
  </div>


  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 mx-auto">
            <a href="{% url 'home' %}" class="btn-main bg-btn2 lnk" >Explore<i
                class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
        </div>

        <div class="col-lg-3 mx-auto">
            <a href="{% url 'invoice' orders.order_id  %}" class="btn-main bg-btn2 lnk" >Invoice Download<i
                class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
        </div>
    </div>
  </div>
    
</section>
    

  
 
{% endblock %}